header{ 
font-size: 30px;
}
.carousel-inner{
    
}

p{
 font-size: 20px;
text-align: center;
    
}
li p{
  font-size: 40px;
  font-family: arial;
  
}

h1{
    text-align: center;
}

@media screen and (max-width: 800px){
    h1{
        font-size: 20px;
    }
}

@media screen and (max-width: 800px){
    p{
        font-size: 15px;
    }
}

h3{
    font-size: 16px;
    text-align: center;
}

h4{
    font-size: 13px;
}

h5{
    font-size:12px;
}

hr{
  height:1.5px;
  width:40%;
  background:grey;
  border:0;
  margin-top:5em;
  margin-bottom:5em;
}

@media screen and (max-width: 800px) {
    
hr{
   margin-top: 1em;
   margin-bottom: 1em; 
}
    }


/*   Titre  */



.titre{
  margin-top: 10em;
  text-align: center;
  
}

@media screen and (max-width: 800px) {
    .titre{
        margin-top: 1em;
    }
}

@media screen and (max-width: 800px) {
    .offres{
        margin-top: 1em;
    }
}


.offres{
    text-align: center;
    margin-top: 5em;
}

.idees{
    display:flex;
    justify-content: space-around;
    margin-top: 3em;   
}

@media screen and (max-width: 800px){
    .card-img-top{
    height: 10em;
    }
}

@media screen and (max-width: 800px){
    .card{
    margin-top: 1em;
    }
}
.card{
    margin-top: 2em;
    margin-right: 1em;

}

.card-img-top{
    height: 15em;
}
/*  Element  */

.tourdumonde{
    width: 100vw;
    margin-top: 5em;
    margin-bottom: 5em;
}

@media screen and (max-width: 800px) {
    .tourdumonde{
        margin-top: 1em;
    }
}

.billets{
    width: 100vw;
    text-align: center;
    margin-top: 10vh;
}

.img-responsive{
    width:100vw;
    display: block;
    height: auto;
}




/*   Partie 3  */


.partie3{
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 6em;
  margin-bottom:6em;
  display :flex;
  justify-content : space-around;
  line-height:5px;
  color: grey;
}

@media screen and (max-width: 800px){
.partie3{
  margin-top: 1em;
  margin-bottom: 0;
  line-height:5px;
  color: grey;
  display:flex;
  flex-direction: column;
  text-align: center;
}  
div>div{
    
  padding-top:1em;
        
    }
}

.destinations ul {
  list-style-type: none;
}
.group ul{
list-style-type: none;
}

.liens img{
  width : 2em;
  height : 2em;
  margin-right:1em;
}
.newsletter{
  line-height: 20px;
}
/*  paiement  */

@media screen and (max-width: 800px){
    
.paiement{
 margin-top:1em;
 margin-bottom: 1em;     
}
}


.paiement{
  margin-top:3em;
  margin-bottom: 2em;
  padding-bottom:1em;
  color: grey;
}
.centrage{
  display :flex;
  justify-content : space-around;
  padding-bottom:3em;
}

@media screen and (max-width: 800px) {
.centrage{
    display: flex;
    flex-direction: column;
    padding-bottom:0em;
    text-align: center;
    }            
}

#partenaire img{
  padding-top:1em;
  padding-right:2em;
  width :5em;
}


.paiement {
  padding-top:1em;
}

@media screen and (max-width: 800px) {
#paiementtextelogo img{
    padding-top: 0;
    }
}


#paiementtextelogo img{
  width:5em;
  height:4em;
  padding-top:2em;
  padding-right:2em;
}

@media screen and (max-width: 640px) {
.conseils{
  text-align:center;
  padding-top:1em;
  visibility: hidden;
}
}

@media screen and (max-width: 800px) {
.disapear{
  display:none;
    }
}

.conseils{
  text-align:center;
  padding-top:3em;
}

.row{
    margin-top: 3em;
    margin-right: 10vw;
    margin-left: 10vw;
    width : 80vw;
}

@media screen and (max-width: 800px) {
    .row{
        margin-top: 1em;
    }
}

.btn btn-primary{
    text-align: center;
}

}
.card-body{
    text-align: center;
}
