header{ 
font-size: 30px;
}
.carousel-inner{
    height: 50em;
    border: solid black;
    padding-bottom: 5em;
}


p{
 font-size: 25px;
 font-family:Brush Script MT, Brush Script Std, cursive;
  color: #b0e0e6;
}
li p{
  font-size: 40px;
  font-family: arial;
  
}
h2{
  text-align:center;
  font-size: 40px;
  font-family:Brush Script MT, Brush Script Std, cursive;
  color: #b0e0e6;
}

h3{
    font-size: 16px;
}

h4{
    font-size: 13px;
}

h5{
    font-size:12px;
}

#logo img{
  width:2.3em;
  height:2.3em;
}
#logo{
  display :flex;
  justify-content : space-around;
  padding-top:2em;
}


hr{
  height:1.5px;
  width:40%;
  background:grey;
  border:0;
  margin-top:5em;
  margin-bottom:5em;
  
}


/*   Titre  */
.titre{
  border:solid black;
  margin-top: 10em;
  
}

.offres{
    text-align: center;
    padding-top: 3em;
}

.idees{
    display:flex;
    justify-content: space-around;
    padding-top: 5em;
    
}

/*   Boxes  */

.ligne1{
    display: flex;
    justify-content: space-around;
    padding-top :2em;
}
.ligne2{
   display: flex;
    justify-content: space-around; 
    padding-top :2em;
}
.boxes{
  padding-top : 5em;
  
}

.card-img-top{
    height: 15em;
}
/*  Element  */

.tourdumonde{
    border:solid black;
    background-image: url(Auckland_City_Pano.jpg);
    background-size: cover;
    height: 40em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.billets{
    background-image: url(tourdumonde2.png);
    background-size: cover;
    height: 40em;
    margin-top: 5em;
    margin-bottom: 5em;
    
}

.formalités{
    background-image: url(visa-thai.jpeg);
    background-size: cover;
    height: 40em;
    margin-top: 5em;
    margin-bottom: 5em;
    
}


/*   Partie 3  */
.partie3{
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 6em;
  margin-bottom:6em;
  display :flex;
  justify-content : space-around;
  line-height:5px;
  color: grey;
}



.destinations ul {
  list-style-type: none;
}
.group ul{
list-style-type: none;
}

.liens img{
  width : 2em;
  height : 2em;
  margin-right:1em;
}
.newsletter{
  line-height: 20px;
}
/*  paiement  */
.paiement{
  margin-top:3em;
  margin-bottom: 2em;
  padding-bottom:1em;
  color: grey;
}
.centrage{
  display :flex;
  justify-content : space-around;
  padding-bottom:3em;
}
#partenaire img{
  padding-top:1em;
  padding-right:2em;
  width :5em;
  height:3,5em;
}
.paiement {
  padding-top:1.5em;
}
#paiementtextelogo img{
  width:5em;
  height:4em;
  padding-top:2em;
  padding-right:2em;
}
.conseils{
  text-align:center;
  padding-top:3em;
}